<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Wiki {{.Title}}</title>

		<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://bootswatch.com/superhero/bootstrap.css" rel="stylesheet">
		
	</head>
	<body>
	<div class="container-fluid">
		<div class="row" >
				<div class="col-md-12"> 
					<h1>Editing {{.Title}}</h1>
					<div>
					<form action="/save/{{.Title}}" method="POST">
					<div><textarea name="body" rows="20" cols="80">{{ printf "%s" .Body }}</textarea></div>
					<div><input type="submit" value="Save"></div>
					</form>
					</div>
				</div>
		</div>

		<div class="row" >
				<div class="col-md-12"> 
					
                    <h3>Current version:</h3>
					<div>{{ printf "%s" .Body }}</div>

					
				</div>
		</div>
	</div>
</body>
</html>